@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}
html {
  font-size: 100vmax / 1600 * 100;
  @media (max-width: 992px) {
    font-size: 60px;
  }
}
body {
  min-height: 100vh;
  @include flexCenter;
  color: #ececec;
  background-color: #222;
  font-size: 0.3rem;
  font-family: "Aboreto", system-ui;
  
  perspective: 1500px;
}

.container {
  position: relative;
  width: 4rem;
  aspect-ratio: 1/1;
  
  transform-style: preserve-3d;
  transform: translate3d(0, 0, -800px);
}

.inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate linear 30s infinite;
}

.card-wrapper {
  position: absolute;
  inset: 0;
  margin: auto;
  height: 100%;
  aspect-ratio: 9/16;
  
  transform-style: preserve-3d;
  backface-visibility: visible;
  
  $total: 8;
  $one: 360deg / $total;
  @for $i from 1 through $total {
    &:nth-child(#{$i}) {
      transform: rotateY($i * $one) translateX(150%);
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 36px;
    object-fit: cover;
    filter: grayscale(0.2);
    
    transform: rotateY(90deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(-50deg) rotateX(12deg) rotateY(0deg);
  }
  100% {
    transform: rotateY(-50deg) rotateX(12deg) rotateY(-360deg);
  }
}